.InputPage {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: center;
}

#input {
    padding: 15px 30px;
    border-radius: 20px;
    border: 1px solid #1A8AEB;
    margin-bottom: 30px;
    transition: 0.3s;
    font-size: 17px;
}

#input:focus {
    outline: none;
    padding: 15px 35px;
}

button {
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    background-color: #1A8AEB;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #004077;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;
}